#parent {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden; /* Ẩn phần tràn ra bên phải */
  }
  
  .container1 {
    flex: 0 0 15%;
    height: 100%;
    border: 2px solid grey;
  }
  
  .container2 {
    flex: 0 0 25%;
    height: 100%;
    border: 2px solid grey;
  }
  
  .container3 {
    flex: 1 0 58%;
    height: 100%;
    border: 2px solid grey;
    flex-direction: column;
  }
  .container_type {
    background-color: antiquewhite;
    width: 100%;
    height: 4rem;
    border: 2px solid grey;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }